* {
  box-sizing: border-box;
}

#svg-data-container {
  display: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Typography
*/

@font-face {
	font-family:'Inria Sans';
	src: url('../fonts/Inria/InriaSans-Regular.woff2') format('woff2'),
		 url('../fonts/Inria/InriaSans-Regular.woff') format('woff'),
		 url('../fonts/Inria/InriaSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'Inria Sans';
	src: url('../fonts/Inria/InriaSans-Bold.woff2') format('woff2'),
		 url('../fonts/Inria/InriaSans-Bold.woff') format('woff'),
		 url('../fonts/Inria/InriaSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

/* Colors

  light: #f0f3f8
  medium: #b5bae5 -> rgba(181, 186, 229, 1)
  medium-dark: #8c94d6
  dark: #6b76cb
  darker: #5964ba -> rgba(89, 100, 186, 1)
  darkgray: #4d5064

*/

/* Buttons
*/


a.button {
  color: #5964ba;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
  padding: 0.5rem;
  background-color: #f0f3f8;
  border: 1px solid rgba(181, 186, 229, 0.3);
}

a.button:hover,
a.button:focus {
  background-color: rgba(181, 186, 229, 0.4);
  transition: all 100ms ease-in;
}

:focus { outline: none; }

a:focus {
  background-color: rgba(89, 100, 186, 0.6);
  border: 1px solid #5964ba;
}

a.button.no-bg {
  color: #6b76cb;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
  background-color: transparent;
  border: 0;
}

a.button.no-bg:hover,
a.button.no-bg:focus {
  color: #5964ba;
  background-color: transparent;
  transition: all 200ms ease-in;
}



/* General styles
*/

html {
  height: 100%;
}

body {
  color: #4d5064;
  font-family: "Inria Sans", Georgia, "DejaVu Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  height: 100%;
}

a {
  text-decoration: none;
}

main {
  height: 100%;
  position: relative;
  overflow: hidden; /* risky! */
}


/* Tooltips
 * adapted from these: https://wikiki.github.io/elements/tooltip/
*/

/* Colors

light: #f0f3f8
medium-light: #d0d3f2
medium: #b5bae5 -> (181, 186, 229, 1)
medium-dark: #8c94d6
dark: #6b76cb
darker: #5964ba -> (89, 100, 186, 1)
darkgray: #4d5064  -> (89, 100, 186, 1)

*/

[aria-label] {
  cursor: pointer;
  overflow: visible;
  position: relative;
}

[aria-label]::before,
[aria-label]::after {
  color: #fff;
  display: inline-block;
  font-size: 0.875rem;
  text-transform: none;
  hyphens: auto;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  z-index: 1000;
}

[aria-label]::before {
  content: attr(aria-label);
  background-color: rgba(89, 100, 186, 0.9);
/* multiline tooltips: */
  text-overflow: clip;
  white-space: normal;
  hyphens: auto;
  word-break: keep-all;
  height: auto;
  max-width: 6.5rem;
  /*
  max-width: 8rem;
  text-overflow: ellipsis;
  white-space: pre;*/
  padding: 0.5rem 1rem;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  margin-top: auto;
  margin-bottom: -5px;
  transform: translate(-50%, 100%);
}

[aria-label]::after {
  content: '';
  border-style: solid;
  border-width: 6px;
  border-color: transparent transparent rgba(89, 100, 186, 0.9) transparent;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: -5px;
  margin-left: -5px;
}

[aria-label]:hover::before,
[aria-label]:hover::after {
  opacity: 1;
  visibility: visible;
}

[aria-label]:active::before,
[aria-label]:active::after,
[aria-label]:focus::before,
[aria-label]:focus::after {
  opacity: 0;
  visibility: hidden;
}

#editor {
  max-width: 100%;
  min-height: 100%;
  position: relative;
}

/* Scale canvas with resize attribute to full size */
#editor canvas[resize] {
  width: 100%;
  height: 100%;
}

/* Floating actions: zoom in/out; toggle grid
*/

#floating-actions {
  width: auto;
  background: #eee;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  z-index: 300;
  position: absolute;
  top: 1rem;
  right: 13rem;
  margin-right: 1rem;
  transition: right 0.25s ease-in;
}

#floating-actions.is-far-right {
  right: 0;
  transition: right 0.25s ease-out;
}

#floating-actions li a {
  display: flex;
  align-items: center;
  min-height: 2.75rem;
  border: 0;
}

#floating-actions li:not(:last-child) a {
  border-bottom: 1px solid rgba(181, 186, 229, 0.3);
}

#floating-actions li a i,
#tile-actions li a i {
  font-size: 1.5rem;
  display: block;
  margin: 0 auto;
}

#floating-actions li a span {
  display: block;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto;
}

#floating-actions li a i.grid::before {
  content: "";
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  background: transparent url("../assets/img/grid-bg.png") repeat center center;
}

/* Tools and toogle button
*/

#toggle-tools {
  position: absolute;
  top: 50%;
  right: 12.75rem;
  transition: right 0.25s ease-in;
}

#toggle-tools.is-hidden {
  right: 0;
  transition: right 0.25s ease-out;
}

#toggle-tools a.button {
  color: #8c94d6;
  font-size: 1.25rem;
  background-color: #f0f3f8; /*#e1e8f4 */
  vertical-align: middle;
  padding: 0.5rem 0.25rem 0.5rem 0.75rem;
  border-radius: 100% 0 0 100%;
  border: 0;
}

#toggle-tools a i {
  display: block;
}

#toggle-tools a.button:hover,
#toggle-tools a.button:focus {
  background-color: #e1e8f4;
  transition: all 0.25s;
}

#tools {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f0f3f8;
  width: 12.75rem; /* 12.9375rem */
  height: 100%;
  overflow-y: scroll;
  overflow-x: inherit; /*hidden;*/
  transition: right 0.25s ease-in;
  border-left: 1px solid rgba(181, 186, 229, 0.3);
}


#tools.is-hidden {
  right: -12.75rem;
  transition: right 0.25s ease-out;
}

#tools #tile-actions {
  padding: 1rem 0.75rem 0 0.5rem;
}

#tools #tile-actions ul {
  display: flex;
  justify-content: space-between;
}

#tools #tile-actions li {
  display: inline-block;
}

#tools #tile-actions li a {
  font-size: 1.5rem;
  min-width: 2rem;
  padding: 0.25rem;
}

#tools #tilebar {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-gap: 0.25rem;
  padding: 0.5rem;
}

#tools #tilebar svg {
  background-color: #e1e8f4;
  width: 40px;
  height: 40px;
}

#tools #tilebar svg.active,
#tools #tilebar svg:hover,
#tools #tilebar svg:focus {
  background-color: rgba(255, 255, 255, 1);
}

#tools #colorbar {
  border-top: 1px solid rgba(181, 186, 229, 0.3);
  border-bottom: 1px solid rgba(181, 186, 229, 0.3);
  margin-top: 1rem;
}

#colorbar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(181, 186, 229, 0.3);
  padding: 0 0.5rem;
}

#colorbar header h3 {
  font-size: 0.875rem;
  line-height: 1;
}

#colorbar header p {
  display: inline-flex;
}

#colorbar header p a {
  color: #8c94d6;
  font-size: 1.25rem;
  background-color: transparent;
  padding: 0.5rem 0 0.5rem 0.25rem;
  border: 0;
}

#colorbar header p a:hover,
#colorbar header p a:focus {
   color: #5964ba;
   background-color: transparent;
}

#colorbar #swatches {
  background-color: rgba(181, 186, 229, 0.2);
  padding: 0.5rem;
}

#colorbar #swatches li.swatch {
  list-style-type: none;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: 0.25rem;
}

#colorbar .swatch:hover,
#colorbar .swatch:focus {
  border-color: #91f48d;
}

#actions ul {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

/*
#actions li:first-child {
  grid-column: 1 / span 2;
}
*/

#actions li {
  line-height: 1;
}

#actions li a {
  font-size: 0.85rem;
  display: block;
}

#actions li.export {
  grid-column: 1 / span 2;
  display: flex;
}

#actions li.export span {
  font-size: 0.85rem;
  color: #fff;
  background-color: #8c94d6;
  padding: 0.5rem;
}

#actions li.export i {
  margin-right: 0.25rem;
}

#actions li.export a,
#actions li.export span {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: last baseline;
}

#actions li.export a:last-child {
  border-left: 0;
}

/* Modal dialogs */

.blocker {
  z-index: 1000;
}

.modal a.close-modal {
  top: 1rem;
  right: 1rem;
  background: transparent;
  overflow: hidden;
  font-size: 100;
}

.modal a.close-modal::before {
  color: #8c94d6;
  display: block;
  content: "✖";
  font-size: 2rem;
  text-indent: 0;
  text-align: center;
  line-height: 1;
}

.modal a.close-modal:hover::before {
  color: #6b76cb;
}

.modal {
  border-radius: 0;
  max-width: 48rem;
  padding: 2rem 4rem;
  line-height: 1.2;
}

.modal .wrapper {
  min-height: 200px;
 }

.modal h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.modal p,
.modal ul,
.modal li {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  max-width: 48rem;
}

.modal strong {
  font-weight: bold;
}

.modal code {
  font-family: Inconsolata, monospace;
  display: inline-block;
  background-color: #eee;
  padding: 0.5rem;
  line-height: 1;
  white-space: pre;
}

.modal p.buttons a {
  display: inline-block;
  font-size: 1rem;
}

/* Modal: load drawing */

#drawing-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows:  minmax(200px, auto);
  grid-gap: 1.5rem;
}

#drawing-list li {
  list-style-type: none;
}

#drawing-list li > a:first-child {
  display: block;
  border: 8px solid rgba(181, 186, 229, 0.3);
  margin-bottom: 1em;
}

#drawing-list li > a:first-child:hover {
  display: block;
  border: 8px solid rgba(181, 186, 229, 0.5);
}

#drawing-list li a img.thumbnail {
/*  box-shadow: 0 0 10px #00000026;*/
  max-height: 100%;
}

#drawing-list li span.item-actions {
  display: flex;
}

#drawing-list li a.button {
  justify-self: left;
  font-size: 0.75rem;
}

#drawing-list li span.item-actions a.button.no-bg {
  font-size: 1rem;
  flex: 1;
  margin-right: 1.5em;
  opacity: 1;
}


